<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>This coffee is called "{{coffee.name}}".</p>
  <p> It originates from {{coffee.origin}} and is of type "{{coffeeType}}"</p>
  <img class="img-fluid center-block" [src]="coffee.imageUrl">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>