<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Coffee Search</a>
    <button 
        class="navbar-toggler" 
        type="button"  
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collaps navbar-collapse" [collapse]="isCollapsed" id="navbarSupportedContent">
        <span *ngIf="isAuthenticated" class="navbar-text navbar-left nav-item">
            Welcome, {{userDetails?.firstName}} {{userDetails?.lastName}}
        </span>
        <ul class="navbar-nav navbar-right ml-auto">
            <li class="nav-item">
                <button *ngIf="isAuthenticated" (click)="doSignOut()" class="padded-nav-button btn navbar-btn btn-warning">
                    <span class="glyphicon glyphicon-log-out"></span> Sign out 
                </button>
            </li>
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="padded-nav-button btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic">
                    User management <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                        <a class="dropdown-item" 
                        [routerLink]="['/', { outlets: { popup: 'signin'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        routerLinkActive="active">
                            Sign in
                        </a>
                    </li>
                   
                    <li role="menuitem"><a class="dropdown-item" routerLink="/signup" routerLinkActive="active">Sign up</a></li>
                </ul>
            </div>
        </ul>
        
    </div>
</nav>