<div class="row">
    <div class="col-md-6">
        <h2>Search out selection of coffee</h2>
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input [(ngModel)]="searchTerm" type="text" (keyup.enter)="searchCoffee(searchTerm)" class="form-control input-lg" placeholder="ex: arabica" />
                <span class="input-group-btn">
                    <button (click)="searchCoffee()" class="btn btn-info btn-lg" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>


<h1>
    Unfortunately there is no result...
</h1>