<div class="row my-auto pt-3">
    <span class="col-md-3 v-align padded-top-text">
        Search our selection
    </span>
    <div class="col-md-4">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input [(ngModel)]="searchTerm" type="text" (keyup.enter)="searchCoffee(searchTerm)" class="form-control input-lg"
                    placeholder="ex: arabica" />
                <span class="input-group-btn">
                    <button (click)="searchCoffee()" class="btn btn-info btn-lg" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <select [(ngModel)]="currentCoffeeType" class="form-control input-group input-lg custom-search-input text-center">
            <option ngDefaultControl *ngFor="let ct of coffeeTypes"  [ngValue]="ct">{{ct.desc}}</option>
        </select>
    </div>
</div>

<div class="row" *ngIf="coffees.length != 0; else notShow">

    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-4"  *ngFor="let coffee of coffees">

        <div class="card">
                <div class="text-center card-header">
                    {{coffee.name}}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{determineTypeDescription(coffee)}}</h5>
                </div>
                <div class="card-img text-center">
                    <img class="img-fluid center-block" [src]="coffee.imageUrl">
                </div>
                <div class="card-footer text-center text-muted">
                    Country of origin is {{coffee.origin}}
                </div>
        </div>
    </div>
    <ng-template #notShow>
        <h1>
            Unfortunately there is no result...
        </h1>
    </ng-template>
</div>

   