#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.img-fluid {
    max-width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    height: 15rem;
    margin: 0 auto !important;
}

select {
    height: 100%;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    text-align: center;
    text-align-last: center;
    /* webkit*/
}   
option {
    text-align: left;
    /* reset to left*/
  }

.card {
    margin: 2rem;
}

.card-img {
    height: 15rem;
}

.v-align {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.padded-top-text {
    padding-top: 0.9rem;
}

.card:hover{
-webkit-box-shadow: 0px 0px 30px 0px #ffc107;
-moz-box-shadow:    0px 0px 30px 0px #ffc107;
box-shadow:         0px 0px 30px 0px #ffc107;
}
